In [147]:
import pandas as pd
import numpy as np

In [148]:
data_path = "../data/NYC_Accidents_2020.csv"
df = pd.read_csv(data_path, low_memory=False)

# (rows, columns)
df.shape

(74881, 29)

In [149]:
# quick peek at the data
df.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,8/29/2020,15:40:00,BRONX,10466.0,40.89210,-73.833760,POINT (-73.83376 40.8921),PRATT AVENUE,STRANG AVENUE,NaN,0,0,0,0,0,0,0,0,Passing Too Closely,Unspecified,NaN,NaN,NaN,4342908,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1,8/29/2020,21:00:00,BROOKLYN,11221.0,40.69050,-73.919914,POINT (-73.919914 40.6905),BUSHWICK AVENUE,PALMETTO STREET,NaN,2,0,0,0,0,0,2,0,Reaction to Uninvolved Vehicle,Unspecified,NaN,NaN,NaN,4343555,Sedan,Sedan,NaN,NaN,NaN
2,8/29/2020,18:20:00,NaN,NaN,40.81650,-73.946556,POINT (-73.946556 40.8165),8 AVENUE,NaN,NaN,1,0,1,0,0,0,0,0,Backing Unsafely,NaN,NaN,NaN,NaN,4343142,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
3,8/29/2020,0:00:00,BRONX,10459.0,40.82472,-73.892960,POINT (-73.89296 40.82472),NaN,NaN,1047 SIMPSON STREET,0,0,0,0,0,0,0,0,Unsafe Speed,Unspecified,Unspecified,Unspecified,NaN,4343588,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Sedan,Motorcycle,NaN
4,8/29/2020,17:10:00,BROOKLYN,11203.0,40.64989,-73.933890,POINT (-73.93389 40.64989),NaN,NaN,4609 SNYDER AVENUE,0,0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Unspecified,NaN,NaN,NaN,4342953,Sedan,Sedan,NaN,NaN,NaN

In [150]:
# confirm column names match the original column names
df.columns

Index(['CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE', 'LONGITUDE', 'LOCATION', 'ON STREET NAME',
       'CROSS STREET NAME', 'OFF STREET NAME', 'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',
       'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED',
       'CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5', 'COLLISION_ID', 'VEHICLE TYPE CODE 1',
       'VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5'],
      dtype='object')

In [151]:
# confirm structure and types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74881 entries, 0 to 74880
Data columns (total 29 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   CRASH DATE                     74881 non-null  object
 1   CRASH TIME                     74881 non-null  object
 2   BOROUGH                        49140 non-null  object
 3   ZIP CODE                       49134 non-null  float64
 4   LATITUDE                       68935 non-null  float64
 5   LONGITUDE                      68935 non-null  float64
 6   LOCATION                       68935 non-null  object
 7   ON STREET NAME                 55444 non-null  object
 8   CROSS STREET NAME              35681 non-null  object
 9   OFF STREET NAME                19437 non-null  object
 10  NUMBER OF PERSONS INJURED      74881 non-null  int64
 11  NUMBER OF PERSONS KILLED       74881 non-null  int64
 12  NUMBER OF PEDESTRIANS INJURED  74881 non-null  int64
 13  NUMBER OF PEDESTRIANS KILLED   74881 non-null  int64
 14  NUMBER OF CYCLIST INJURED      74881 non-null  int64
 15  NUMBER OF CYCLIST KILLED       74881 non-null  int64
 16  NUMBER OF MOTORIST INJURED     74881 non-null  int64
 17  NUMBER OF MOTORIST KILLED      74881 non-null  int64
 18  CONTRIBUTING FACTOR VEHICLE 1  74577 non-null  object
 19  CONTRIBUTING FACTOR VEHICLE 2  59285 non-null  object
 20  CONTRIBUTING FACTOR VEHICLE 3  6765 non-null   object
 21  CONTRIBUTING FACTOR VEHICLE 4  1851 non-null   object
 22  CONTRIBUTING FACTOR VEHICLE 5  523 non-null    object
 23  COLLISION_ID                   74881 non-null  int64
 24  VEHICLE TYPE CODE 1            74246 non-null  object
 25  VEHICLE TYPE CODE 2            53638 non-null  object
 26  VEHICLE TYPE CODE 3            6424 non-null   object
 27  VEHICLE TYPE CODE 4            1771 non-null   object
 28  VEHICLE TYPE CODE 5            503 non-null    object
dtypes: float64(3), int64(9), object(17)
memory usage: 16.6+ MB

In [152]:
# numeric summary to spot strange values that don't make sense
df.describe()

,ZIP CODE,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,COLLISION_ID
count,49134.000000,68935.000000,68935.000000,74881.000000,74881.000000,74881.000000,74881.000000,74881.000000,74881.000000,74881.000000,74881.000000,7.488100e+04
mean,10913.681585,40.689825,-73.843376,0.366555,0.001923,0.054740,0.000748,0.043709,0.000120,0.268105,0.001055,4.305762e+06
std,515.069483,1.233368,2.234881,0.726178,0.047609,0.237582,0.027337,0.209737,0.010963,0.691423,0.037073,2.171658e+04
min,10000.000000,0.000000,-74.253006,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.063247e+06
25%,10458.000000,40.667076,-73.958680,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.287041e+06
50%,11210.000000,40.716885,-73.916850,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.305812e+06
75%,11354.000000,40.789445,-73.862630,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.324545e+06
max,11697.000000,40.912884,0.000000,15.000000,4.000000,6.000000,1.000000,3.000000,1.000000,15.000000,4.000000,4.343622e+06

In [153]:
# missing values per column overview (%)
missing = (
    df.isna()
      .mean()
      .sort_values(ascending=False)
      .to_frame("missing_pct")
)

missing.head(15)

                               missing_pct
VEHICLE TYPE CODE 5               0.993283
CONTRIBUTING FACTOR VEHICLE 5     0.993016
VEHICLE TYPE CODE 4               0.976349
CONTRIBUTING FACTOR VEHICLE 4     0.975281
VEHICLE TYPE CODE 3               0.914211
CONTRIBUTING FACTOR VEHICLE 3     0.909657
OFF STREET NAME                   0.740428
CROSS STREET NAME                 0.523497
ZIP CODE                          0.343839
BOROUGH                           0.343759
VEHICLE TYPE CODE 2               0.283690
ON STREET NAME                    0.259572
CONTRIBUTING FACTOR VEHICLE 2     0.208277
LOCATION                          0.079406
LONGITUDE                         0.079406

In [154]:
# Normalize column names: lowercase, snake case, strip whitespaces
df.columns = (
    df.columns
      .str.strip()
      .str.lower()
      .str.replace(" ", "_")
      .str.replace(r"[^a-z0-9_]", "", regex=True)
)
df.columns.tolist()

['crash_date',
 'crash_time',
 'borough',
 'zip_code',
 'latitude',
 'longitude',
 'location',
 'on_street_name',
 'cross_street_name',
 'off_street_name',
 'number_of_persons_injured',
 'number_of_persons_killed',
 'number_of_pedestrians_injured',
 'number_of_pedestrians_killed',
 'number_of_cyclist_injured',
 'number_of_cyclist_killed',
 'number_of_motorist_injured',
 'number_of_motorist_killed',
 'contributing_factor_vehicle_1',
 'contributing_factor_vehicle_2',
 'contributing_factor_vehicle_3',
 'contributing_factor_vehicle_4',
 'contributing_factor_vehicle_5',
 'collision_id',
 'vehicle_type_code_1',
 'vehicle_type_code_2',
 'vehicle_type_code_3',
 'vehicle_type_code_4',
 'vehicle_type_code_5']

In [155]:
# parse datetimes, create a combined crash datetime
df["crash_date"] = pd.to_datetime(df["crash_date"], format="%m/%d/%Y", errors="coerce")
df["crash_time"] = pd.to_datetime(df["crash_time"], format="%H:%M:%S", errors="coerce").dt.time

df["crash_datetime"] = pd.to_datetime(
    df["crash_date"].astype(str) + " " + df["crash_time"].astype(str),
    format="%Y-%m-%d %H:%M:%S",
    errors="coerce"
)

In [156]:
# columns to string
df["zip_code"] = df["zip_code"].astype("string")
df["collision_id"] = df["collision_id"].astype("string")

# create derived columns
df["hour"] = df["crash_datetime"].dt.hour
df["month"] = df["crash_date"].dt.month
df["month_name"] = df["crash_date"].dt.month_name()
df["day_of_week"] = df["crash_date"].dt.day_name()
df["is_weekend"] = df["day_of_week"].isin(["Saturday", "Sunday"])
df["is_fatal"] = df["number_of_persons_killed"] > 0

# drop redundant / sparse columns
cols_to_drop = [
    "crash_time",
    "location",
    "contributing_factor_vehicle_3",
    "contributing_factor_vehicle_4",
    "contributing_factor_vehicle_5",
    "vehicle_type_code_3",
    "vehicle_type_code_4",
    "vehicle_type_code_5",
]

df = df.drop(columns=[c for c in cols_to_drop if c in df.columns])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74881 entries, 0 to 74880
Data columns (total 28 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   crash_date                     74881 non-null  datetime64[ns]
 1   borough                        49140 non-null  object
 2   zip_code                       49134 non-null  string
 3   latitude                       68935 non-null  float64
 4   longitude                      68935 non-null  float64
 5   on_street_name                 55444 non-null  object
 6   cross_street_name              35681 non-null  object
 7   off_street_name                19437 non-null  object
 8   number_of_persons_injured      74881 non-null  int64
 9   number_of_persons_killed       74881 non-null  int64
 10  number_of_pedestrians_injured  74881 non-null  int64
 11  number_of_pedestrians_killed   74881 non-null  int64
 12  number_of_cyclist_injured      74881 non-null  int64
 13  number_of_cyclist_killed       74881 non-null  int64
 14  number_of_motorist_injured     74881 non-null  int64
 15  number_of_motorist_killed      74881 non-null  int64
 16  contributing_factor_vehicle_1  74577 non-null  object
 17  contributing_factor_vehicle_2  59285 non-null  object
 18  collision_id                   74881 non-null  string
 19  vehicle_type_code_1            74246 non-null  object
 20  vehicle_type_code_2            53638 non-null  object
 21  crash_datetime                 74881 non-null  datetime64[ns]
 22  hour                           74881 non-null  int32
 23  month                          74881 non-null  int32
 24  month_name                     74881 non-null  object
 25  day_of_week                    74881 non-null  object
 26  is_weekend                     74881 non-null  bool
 27  is_fatal                       74881 non-null  bool
dtypes: bool(2), datetime64[ns](2), float64(2), int32(2), int64(8), object(10), string(2)
memory usage: 14.4+ MB

In [157]:
df[["crash_date", "month", "day_of_week", "hour", "is_fatal"]].head()

  crash_date  month day_of_week  hour  is_fatal
0 2020-08-29      8    Saturday    15     False
1 2020-08-29      8    Saturday    21     False
2 2020-08-29      8    Saturday    18     False
3 2020-08-29      8    Saturday     0     False
4 2020-08-29      8    Saturday    17     False

In [158]:
df[["month", "day_of_week", "hour"]].isna().mean()

month          0.0
day_of_week    0.0
hour           0.0
dtype: float64